# Ignore environment folders in specific project directories
Python Scripts/.venv/

hd_emails/.env
hd_emails/.venv/
hd_emails/msal_token_cache.json

smartsheets/.env
smartsheets/.venv/

test_proj/.venv/

can_report/.venv/
can_report/.env
